<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>财富窗平台</title>
<script type="text/javascript" src="script/html5.js"></script>
<link rel="stylesheet" href="css/public.css" />
<link rel="stylesheet" href="css/layout.css" />
</head>

<body>
<header class="header">
  <div class="header-nav">
    <h1 class="logo float-left"><a href="index.html"></a></h1>
    <div class="header-text float-right">
      <span>用户名：aaaaaaa</span><em><a href="#">退出</a></em>
    </div>
    </div>
</header>
<!--header end-->
<section class="container">
  <nav class="container-left">
    <h3 class="border-none">功能</h3>
    <ul>
      <li><a href="masssendpage.html">群发功能</a></li>
      <li><a href="loan.html">贷款管理</a></li>
    </ul>
    <h3>管理</h3>
    <ul>
      <li><a href="user.html">用户管理</a></li>
      <li><a class="selected" href="material.html">素材管理</a></li>
    </ul>
    <h3>设置</h3>
    <ul>
      <li><a href="setting.html">财富窗设置</a></li>
    </ul>
  </nav>
  <!--container-left end-->
  <section class="container-right">
  	<div class="c-r-title">
      <h3>素材管理</h3>
    </div>
    <!--c-r-title end-->
    <div class="c-t-nav">
      <ul>
        <li><a class="selected" href="material.html">图文消息</a></li>
        <li><a href="material-photo.html">图片库</a></li>
      </ul>
    </div>
    <!--c-t-nav end-->
    <div class="page-nav">
    	<a href="material.html">图文消息<em>></em></a>
    	<a class="selected" href="#">添加图文消息</a>
    </div>
    <!--page-nav end-->
	<div class="material-aadmsg-history">
      <div class="m-a-preview">
        <div class="m-a-info">
          <h3><a href="#">来自支付，服务小微，普惠民生，和付新融</a></h3>
          <span class="banner">封面图片</span>
          <p>和付新融是基于移动支付平台的新型融资产品。领略了互联网金融的独特魅力，依托传统银行的坚定支持，扎根于中小微群体，立足于将来，做有移动支付特色的金融服务。</p>
        </div>
      </div>
    <!--m-a-preview end-->
      <div class="m-a-edit">
        <div class="m-edit-item">
          <span class="title">标题 <em>(少于64字)</em></span>
          <span class="input"><input type="text" /></span>
        </div>
        <div class="input-error">标题不能为空且长度不能超过64字</div>  
        <div class="m-edit-item">
          <span class="title">作者 <em>(选填)</em></span>
          <span class="input">
          <input type="text" /></span>
        </div>  
        <div class="m-edit-item">
          <span class="title">封面 <em>(大图片建议尺寸：900像素 * 500像素)</em></span>
          <div class="linkA"><a class="width100"  href="#">上传</a><a class=""  href="#">从图片库选择</a></div>
          <div class="upload-box">
            <ul>
              <li><div class="text">2.jpg<em>650k</em></div></li>
              <li><div class="upload-bar">
              <span class="active width50"></span>
              </div></li>
            </ul>  
          </div>
          <div class="img-box"><span></span><a href="#">删除</a></div>
        </div>  
        <div class="m-edit-item">
          <span class="title">摘要 <em>(少于120字)</em></span>
          <span class="input">
          <textarea class="textarea">和付新融是基于移动支付平台的新型融资产品。领略了互联网金融的独特魅力，依托传统银行的坚定支持，扎根于中小微群体，立足于将来，做有移动支付特色的金融服务。</textarea>
          </span>
        </div>  
        <div class="m-edit-item">
          <span class="title">正文<em> (自动保存：2014-11-21 15:24:11)</em></span>
          <span class="textarea-bar"></span>
          <span class="input">
          <textarea class="textarea-edit"></textarea>
          </span>
        </div> 
        <div class="linkA"><a class="aNext width100"  href="#">发布</a><a class=" width100 "  href="#">预览</a></div>
      </div>    
    <!--m-a-edit end-->
    </div>
    <!--material-aadmsg-history end-->
  </section>
  <!--container-right end-->
</section>
<!--container end-->

<footer class="footer">
 2014 © AndPay, Inc. All rights reserved.
</footer>
</body>
</html>
