/* top-nav */
.header{ display:block; margin:0 auto; height:40px; z-index:1000; width:100%; background-color:#fff; border:1px solid #c2c7cc}
.header-nav{ margin:0 auto; width:1200px; height:40px;}

.logo a {float:left; display:block; margin-top:3px; width:208px; height:33px; background:url(../images/logo.jpg) no-repeat; background-size:208px 33px;}
.header-text{ display:block; line-height:40px;font-size:12px;}
.header-text span { margin-right:10px; display:inline-block;  }

/* container */
.container {display:block; overflow:hidden; margin:30px auto 10px; width:1200px;   background-color:#FFFFFF; border:1px solid #c2c7cc;}
/* ===================================== container-left ==background-color:#f0f2f4; */

.container-left { overflow:hidden; display:block; float:left; width:209px; min-height:700px; padding: 0 0 9999px; margin-bottom: -9999px; zoom: 1;border-right:1px solid #c2c7cc; background-color:#f0f2f4;}

.container-left h3{ display:block; padding:0 20px; height:50px; line-height:50px; font-size:16px; color:#9ea7b3; border-top:1px solid #dce4eb;}
.container-left h3.border-none{ border:none;}
.container-left ul{ display:block; margin-bottom:10px; }
.container-left li{ display:block;}
.container-left a,.container-left a:visited { display: block; padding:12px 10px 12px 30px; position: relative;   color:#646b75;}
.container-left a:hover {background-color:#dce4eb; } 
.container-left a.selected, .container-left a:active.selected, .container-left a:visited.selected {background-color: #0092d9;border-bottom:none;color: #fff;cursor:pointer;}

/* ===================================== container-right == background-color:#e7ebee;*/
.container-right {display:block; float:left; width:990px; height:auto;} 


/* 首页选项卡 */
.index-history{ overflow:hidden; display:block; margin:30px }
.index-tab { display:block; margin-bottom:30px;  overflow:hidden; clear:both}
.index-tab li{ display:block; float:left; margin-right:15px; width:300px; height:80px; background-color:#0092d9}


.index-tab li.margin-right-none{margin-right:0;}
.index-tab li a { display:block; width:100%; height:100%; font-size:18px; line-height:80px; color:#fff; text-align:center}
.index-tab li a:hover{ background-color:#2e86ca}
.index-tab li a:active{background-color:#1a77be}
.index-tab li.green{ background-color:#1fbba6;}
.index-tab li.green a:hover{ background-color:#1ab09c;}
.index-tab li.green a:active{ background-color:#149c8a;}

/* 列表 */
.index-list { display:block; overflow:hidden; border:1px solid #dce4eb}
.index-list h3{display:block;padding:0 20px; line-height:50px; background-color:#f0f2f4}
.index-list li{ display:block; line-height:50px; border-bottom:1px solid #dce4eb; clear:both}
.index-list li a{display:block; padding:0 20px;  color:#646b75}
.index-list li a span{ display:block; float:left;width:90%;}
.index-list li a em{ display:block; float:right; width:10%; text-align:right; color:#9ea7b3}
.index-list li a:hover span{ color:#0092d9}


/* 当前页文字 */
.c-r-title{display:block; width:100%; height:50px;}
.c-r-title h3{display:block;  padding:0 30px;  line-height:50px; width:100%; height:50px;height:50px; font-size:16px; color:#646b75}

/* 右侧选项卡 */
.c-t-nav { margin-top:11px; height:33px; border-bottom:1px solid #c2c7cc}
.c-t-nav li a{float:left;  padding:0 30px; line-height:30px; color:#646b75; border-bottom:3px solid #fff;  }	
.c-t-nav li a.selected{  border-bottom:3px solid #0092d9} 
.c-t-nav li a.selected:hover{  border-bottom:3px solid #0092d9} 
.c-t-nav li a:hover{ border-bottom:3px solid #9ea7b3} 

/* 子集选项卡 */
.c-t-n-sub { margin:20px 0 20px 30px; height:33px;}
.c-t-n-sub li a{float:left; margin-right:-1px; padding:0 30px; line-height:30px; color:#646b75;border:1px solid #9ea7b3; }	
.c-t-n-sub li a.selected{  background-color:#9ea7b3; color:#FFFFFF;
} 
.c-t-n-sub li a:hover{ background-color:#9ea7b3; color:#FFFFFF;} 
.radius-left{border-radius:4px 0 0 4px;}
.radius-right{border-radius:0 4px 4px 0;}

.c-t-tip p{ display:block; padding:8px 30px; line-height:26px; color:#9ea7b3; background-color:#f0f2f4; font-size:12px;}

/* 选择组 */
.c-select-group {display:block; margin:20px 0 0 30px; width:100%; }
.c-group-sub {float:left; overflow:hidden; display:block; margin-right:20px;}
.c-group-sub em{ display:block; line-height:26px; margin-bottom:5px;}
.c-group-sub select {border:1px solid #c2c7cc;  position:relative; height:30px;}

/* msg-sender 输入控件 */
.msg-sender {overflow:hidden; display:block; margin:20px 30px;  border:1px solid #dce4eb}
.msg-tab{ height:40px; line-height:40px; background-color:#f0f2f4; border-bottom:1px solid #dce4eb}
.msg-tab li{ display:block; margin-left:20px; float:left;}
.msg-tab li a{ display:block; margin:6px 0px 0 0; padding:0 20px; height:26px; line-height:26px; background-color:#f4f9fb; color:#3d454c; border:1px solid #c2c7cc; border-radius: 3px;}
.msg-tab li a:hover{ background-color:#edf4f7}
.msg-tab .tip-text{ color:#9ea7b3}
.msg-textarea{ padding:20px;height:200px;   background-color:#fff; color:#3d454c}
.msg-textarea.gray-font{ color:#9ea7b3}
.msg-tab-bottom{padding-left:20px; height:40px; line-height:40px; background-color:#fff; border-top:1px solid #dce4eb; color:#9ea7b3; font-size:12px;}

.tool-bar {margin:20px 30px;}



/* 已发消息 */
.mass-history{ overflow:hidden; margin-bottom:30px; clear:both; }
.mass-box, .loan-box {overflow:hidden; padding:30px; clear:both; width:100%; border-bottom:1px solid #dce4eb}
.mass-box-img {float:left; display:block; margin-right:20px; width:80px; height:80px; background-color:#f0f2f4;}
.mass-box-text {float:left; width:500px; height:80px; overflow:hidden;} 
.mass-box-text h4 { display:block; margin-bottom:5px}
.mass-box-text h4 a{ color:#3d454c; line-height:28px;}
.mass-box-text p a{ line-height:24px; color:#646b75; font-size:12px;}
.mass-box-text h4 a:hover, .mass-box-text p a:hover{ color:#0092d9;}

.m-t-b { float:left; padding:5px 0 0 0; display:block; width:110px; height:80px;  text-align:right; color:#9ea7b3;}

/* 贷款管理 */
.loan-history{ overflow:hidden; margin-bottom:0; clear:both; }

.loan-box-group {float:left; width:200px; height:80px; overflow:hidden;}

.loan-info-list { margin:0 30px;}
.loan-info-list li{ display:block; width:100%; overflow:hidden; clear:both;   border-bottom:1px solid #dce4eb}
.loan-info-list li.border-none{ border:none}
.loan-info-list em{ float:left; display:block; width:150px; line-height:60px;}
.loan-info-list span{ float:left;  display:block;width:200px; line-height:60px; color:#3d454c}
.loan-info-list span.blue{ color:#0092d9}
.loan-history h3{ display:block; padding:8px 30px; line-height:26px; color:#9ea7b3; background-color:#f0f2f4}


/* 索引导航 */
.page-nav{ overflow:hidden; display:block; margin:20px 30px 10px; width:100%; line-height:40px; clear:both;}

.page-nav a{ float:left; margin-right:0; color:#9ea7b3;  }
.page-nav a em{ margin:0 10px;}
.page-nav a.selected{ float:left; margin-right:20px; color:#3d454c;}


/* 子标题文字 */
.sub-title-bar { overflow:hidden; width:100%; line-height:50px; margin:30px 30px 0 30px;  }

/* 标题输入框 */
.input-error { display:block; margin:0 0 10px; width:100%; line-height:26px; color:#fc3e39}

/* 标题工具条 */
.tool-title {padding-left:20px; height:50px; line-height:50px; background-color:#f0f2f4}
.tool-t-checkbox {float:left; margin:0; padding-top:18px; display:block; width:30px;}
.tool-t-text {float:left; display:block;   margin-left:0; width:50px;}
.tool-t-form {float:left; margin:0; padding-top:10px; display:block; width:100px;}
.tool-t-right {float:right; margin:0; padding-top:10px; display:block; width:100px;}
.tool-t-form .disabled{background-color: #f3f6f8;color:#c8cbce;cursor:not-allowed;}
.tool-tip{ top:10px; right:110px; text-align:center; z-index:1; display:block; width:300px; height:30px;  line-height:30px; background-color:#fff; border:1px solid #dce4eb; border-radius:4px;}
.tool-tip span{ position:relative; color:#9ea7b3; font-size:12px;}
.tool-tip span:before, .tool-tip span:after{ content: " ";  float: right; margin-right: -5px; margin-top:11px; width:8px; height: 8px; background-color: #dce4eb; -webkit-transform: rotate(45deg);  }
.tool-tip span:after{ margin-right: -7px; margin-top:11px; background-color: #fff; }
.tool-tip i{ position:absolute; width:20px; height:20px;}

/* 用户管理 */
.user-history{ overflow:hidden; margin:30px; clear:both; min-height:500px; border:1px solid #dce4eb}
.user-left { display:block; float:left;  width:757px; } 

.user-box {overflow:hidden; clear:both; padding:20px 0; width:100%; border-bottom:1px solid #dce4eb;}
.user-box .multi-checkbox{float:left; margin:0 0 0 20px; padding-top:18px; line-height:50px; display:block; width:30px; height:30px;}

.user-box-text {float:left; width:200px; height:50px; line-height:50px; overflow:hidden;} 
.user-box-text h4 { display:block; margin-bottom:5px}
.user-box-text h4 a{ color:#3d454c; line-height:50px;  }
.user-box-text p a{ line-height:24px; color:#646b75;}
.user-box-text h4 a:hover, .user-box-text p a:hover{ color:#0092d9;}

.user-t-b { float:left; display:block; width:200px; height:50px; line-height:50px; text-align:right; color:#9ea7b3;}


.user-t-b select {border:1px solid #c2c7cc;  position:relative; margin-top:10px; width:140px; height:30px;}

.user-right { overflow:hidden; display:block; float:left; width:170px;  min-height:200px; min-height:700px; padding: 0 0 9999px; margin-bottom: -9999px; zoom: 1;border-left:1px solid #dce4eb;} 

.user-right h3{ height:40px; padding:9px 20px 1px;}

.user-right li{ width:100%;}
.user-right li a{padding:0 20px;   display:block; width:100%; line-height:40px; color:#646b75}
.user-right li a.selected{ background-color:#f0f2f4; color:#646b75}
.user-right li a em{ color:#9ea7b3}
.user-right li a:hover{ background-color:#f0f2f4;}

/* 素材管理-图文消息 */

.material-history {overflow:hidden; margin:20px 30px 0 30px; clear:both;}
.m-h-add {overflow:hidden; display:block; margin:0 30px; text-align:center;letter-spacing:normal; line-height:80px;height:80px; border:2px dotted #dce4eb}
.m-h-add:hover {border:2px dotted #0092d9}
.m-h-add i a {display:block; width:100%; height:100%; margin-top:15px;}
.material-item { display:block; clear:both}
.material-item li{ float:left;  display:block; overflow:hidden; width:300px;  margin:0 15px 0 0;}
.material-item li.margin-right-none{ margin-right:0;}


.m-info { margin:15px 20px;}
.m-box {display:block; margin-bottom:20px; border:1px solid #dce4eb;}
.m-box h3 {display:block; line-height:30px; font-size:16px; color:#3d454c}
.m-box h3 a{ color:#3d454c}
.m-box h3 a:hover{ color:#0092d9}
.m-box .time {display:block; margin:5px 0 10px;  line-height:22px; font-size:12px; color:#9ea7b3}
.m-box .banner {display:block;  width:100%; height:120px; background-color:#f0f2f4;}
.m-box p {display:block; margin:10px 0; line-height:20px; color:#9ea7b3}
.m-box-tool{display:block; border-top:1px solid #dce4eb; background-color:#f0f2f4; height:40px; clear:both}
.m-box-tool a {float:left; width:50%; font-size:12px; line-height:40px; text-align:center; color:#646b75;}
.m-box-tool a:hover{ color:#0092d9}


/* 添加图文消息 */
.material-aadmsg-history { overflow:hidden; display:block; margin:30px; pading-bottom:30px; clear:both;}

.m-a-preview {display:block; float:left; padding:20px; width:320px; height:auto; border:1px solid #dce4eb;}
.m-a-preview h3 {display:block; line-height:30px; font-size:16px; color:#3d454c}
.m-a-preview h3 a{ color:#3d454c}
.m-a-preview h3 a:hover{ color:#0092d9}
.m-a-preview .time {display:block; margin:5px 0 10px;  line-height:22px; font-size:12px; color:#9ea7b3}
.m-a-preview .banner {display:block; margin-top:10px; width:100%; height:120px; background-color:#f0f2f4; line-height:120px; text-align:center; color:#9ea7b3}
.m-a-preview p {display:block; margin:10px 0 0; line-height:20px; color:#9ea7b3}

.m-a-edit {display:block; float:right; padding:20px; width:500px; height:auto; background-color:#f0f2f4; border:1px solid #dce4eb;}

.m-edit-item {display:block; margin-bottom:10px; overflow:hidden;}
.m-edit-item .title {display:block; width:100%; margin:5px 0 10px; }
.m-edit-item .title em { color:#9ea7b3}
.m-edit-item .input {display:block; width:100%; margin:0;}
.m-edit-item .textarea {display:block; padding:10px; width:100%; height:100px; line-height:26px; margin:0;}
.m-edit-item .textarea-bar {display:block; width:100%; height:40px; line-height:26px; background-color:#fff; border:1px solid #c2c7cc; border-bottom:none; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }
.m-edit-item .textarea-edit {display:block; margin:0 0 10px 0; padding:10px; width:100%; height:230px; line-height:26px; border-radius:0 0 4px 4px;}
.m-edit-item .img-box{ display:block; margin-top:10px; width:100%; height:auto;}
.m-edit-item .img-box span{ float:left; display:block; width:100px; height:75px; background-color:#FFFFFF}
.m-edit-item .img-box a{ float:left; display:block; margin-left:10px; width:100px; height:75px; line-height:75px; }
.m-edit-item .upload-box{ display:block; margin:20px 0; width:100%; overflow:hidden; clear:both;}
.m-edit-item .upload-box li { display:block; height:20px; line-height:20px}
.m-edit-item .upload-box li em{  width:100px; margin-left:10px; line-height:20px;}
.m-edit-item .upload-box .upload-bar{ position:relative; width:100px; height:10px; background-color:#fff;  border-radius:2px;border:1px solid #dce4eb;}
.m-edit-item .upload-box .upload-bar .active{ border-radius:2px;position:absolute; height:10px;;background-color:#0092d9;}





/* 素材管理-素材 */
.m-photo-history {overflow:hidden; margin:20px 30px 30px 30px; clear:both; border:1px solid #dce4eb}
.m-photo-item { display:block; }
.m-photo-item li{ float:left;  display:block; overflow:hidden; width:194px;  margin:30px 0 0 30px;}
.m-p-info { margin:0;}
.m-p-box {display:block; width:99%;  border:1px solid #dce4eb;}
.m-p-box h3 {display:block; line-height:30px; font-size:16px; color:#3d454c}
.m-p-box h3 a{ color:#3d454c}
.m-p-box h3 a:hover {color:#0092d9}
.m-p-box .text { overflow:hidden; display:block; margin:0; height:30px; line-height:30px; font-size:12px; color:#9ea7b3; clear:both;}
.m-p-box .text em { float:left; padding:8px 0 0 10px; width:22px; height:30px;line-height:30px;}
.m-p-box .text strong { overflow:hidden; float:left; width:130px;}
.m-p-box .banner {display:block; width:100%; height:192px; background-color:#f0f2f4;}
.m-p-box p {display:block; margin:10px 0; line-height:20px; color:#9ea7b3}
.m-p-box-tool{display:block; border-top:1px solid #dce4eb; background-color:#f0f2f4; height:40px; clear:both}
.m-p-box-tool a {float:left; width:50%; font-size:12px; line-height:40px; text-align:center; color:#646b75;}
.m-p-box-tool a:hover{ color:#0092d9}

/* 财富窗设置 */
.setting-history{ display:block;}

.setting-info-list { margin:0 30px 30px;}
.setting-info-list li{ display:block; width:100%; overflow:hidden; clear:both;border-bottom:1px solid #dce4eb}
.setting-info-list li.border-none{ border:none}
.setting-info-list em{ float:left; display:block; width:150px; padding:20px 0; line-height:26px;}

.setting-info-list p{ float:left;  display:block;width:500px;padding:20px; line-height:26px; color:#3d454c}
.setting-info-list p span{ display:block; width:100%; padding:10px 0; color:#9ea7b3}
.setting-info-list strong{ float:right; display:block; width:150px; padding:20px 0; line-height:26px; text-align:right;}
.setting-info-list span.blue{ color:#0092d9}
.setting-history h3{ display:block; padding:8px 30px; line-height:26px; color:#9ea7b3; background-color:#f0f2f4}



/* 翻页 */
.field-toolbar-item {float:right; line-height: 30px; margin-right:0px;}
.field-toolbar-text {float:right; line-height: 34px; font-size:12px; margin-right:10px; color:#9ea7b3;}
.field-toolbar { position:relative; margin:0; padding:0 12px 15px; zoom:1;}

.items-paging {display:block; margin:20px 0 20px 0; width:400px;}
.field-btnIcon a{display:block; width:30px;; height:30px; margin-left:10px; border-radius:2px; border:1px solid #dce4eb; background-color:#fff; text-align:center; color:#9ea7b3}
.field-btnIcon a:hover {background-color:#f4f9fb;}
.field-btnIcon a.disabled{background-color: #f3f6f8;color:#c8cbce;cursor:not-allowed;}
.field-icon a, .field-ico-into, .field-ico-retreat, .field-ico-up, .field-ico-down, .field-ico-lock, .field-ico-deblocking{display:inline-block; padding:0; margin:0; width:30px; height:29px; border-radius:4px; cursor:pointer;}
.field-icon a.w50 {width:60px; height:29px; }

.field-icon li { margin-right:5px;}
.field-icon ul.m-top{ margin-top:40px;}
.field-icon ul.m-bottom{ margin-top:70px;}


/* items-table-toolbar */
.items-table-toolbar {margin:10px auto 0; overflow:hidden; position:relative; height:40px; width:100%;  zoom:1}
.field-nextBtn {border: 1px solid #1891ca;background-position:0 -93px; color:#fff;  text-shadow: 0 -1px 1px #444; box-shadow:0 1px #FFFFFF,0 1px #7fd7fa inset;}
.field-nextBtn a{ color:#FFF;}
.field-bigBtn{background-position:0 -135px; line-height:32px;  padding:0 25px}
.field-default-box {display:inline; position:relative; }
.field-default-box a {display:block;}
.field-default-box a i{ margin-left:5px; cursor:pointer;}

.field-date-icon, .field-close-icon, .field-print-icon, .field-repeat-icon, .field-save-icon {display:block; position: relative; }

.field-select-icon{position:absolute; top:6px; right:8px; width:10px; height:13px; background-position:0 -262px;}
.field-date-icon { top:6px;  width:15px; height:16px; background-position:0 -100px; box-shadow:0 1px #FFFFFF;}


.field-public-box { float:right; right:5px; top: 0;}
.field-select-box { display:block; position:relative;}
.field-select-box a{  margin:0; padding:0 25px 0 10px;}
.field-select-box a span{line-height:32px;}


.field-select-text { color:#999;}

.field-select-menu {position:absolute; top:32px; left:0; background:#fff; box-shadow:0 0 5px #ccc; border:1px solid #d3d3d3; border-top:none;  z-index:99;  width:100%;}
.field-select-menu a {display:block; padding:0; text-indent:10px; width:100%; line-height:26px;}
.field-select-menu a:hover{ background-color:#43a0d7; color:#FFF; text-shadow:none;}

.field-download {position:relative; line-height: 30px; margin:0 9px 0 12px; cursor:pointer; display:inline;}
.field-download-icon {display:block; margin:6px 6px 0 0px;  width:18px; height:20px; cursor:pointer;  background-position:-55px -102px;}
.field-download span { float:left;  cursor:pointer; }
.field-select-text { color:#999;}
.field-total { float:right; display:block; color:#999; margin-right:10px; line-height:40px;}
.field-total span{ color:#444}


.head-table-tabs {padding-left:12px; position:relative; margin-bottom:12px; border-width:1px 0; height:40px; text-shadow: 0 1px 0 #FFFFFF; background-color:#eee; background-position:0 -135px; width:100%; zoom:1; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.head-table-tabs
{
background-color: #eee;
border-top:1px solid #d6d9de; 
border-bottom:1px solid #c3c7cd; 
}

.table-tabs a{ margin:6px -1px 0 0; display:block; float:left; padding:0 12px; line-height:32px; height:32px;} 

.table-tabs a:hover{ margin:6px -2px  0 -1px; line-height: 30px; background-color:#fbfbfb;  border:1px solid #ced2d8; border-bottom:none; box-shadow:none; box-shadow:0 1px #fbfbfb;color:#666666; border-radius: 4px 4px 0 0;  }
.table-tabs a.on{  background-color:#fbfbfb;  border:1px solid #ced2d8; border-bottom:none; position: relative;line-height:30px; background-position:none; box-shadow:0 1px #fbfbfb; border-radius: 4px 4px 0 0; } 
.table-tabs a:hover.on, .table-tabs a:active.on{ color:#666666; margin:6px -1px 0 0; background:#fbfbfb;border-radius: 5px 5px 0 0; }

/* date-toolbar */
.date-toolbar{ display:block; margin:10px 12px; height:32px; width:100%;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; clear:both;}
.date-toolbar a, .date-toolbar a:visited { float:left; display:block; margin:0 -1px 10px 0; background-color:#f5f5f5; line-height:32px; width:85px; text-align:center;  color:#666}
.date-toolbar a:hover, .date-toolbar a:active{background-color:#fbfbfb; }
.date-toolbar a.on,.date-toolbar a:hover.on{
border-left:1px solid #afafaf;
color:#666;
}

.date-toolbar a.on,.date-toolbar a.on:visited,.date-toolbar a.on:hover,.date-toolbar a.on:active{background-color:#dedede; border-left:1px solid #c3c7cd}
.date-toolbar a.first-button{ border-radius:5px 0 0 5px}
.date-toolbar a.last-button{ border-radius:0 5px 5px 0}



/* head-toolbar */
.head-toolbar {padding:10px 0 10px 10px; height:50px;  text-shadow: 0 1px 0 #FFFFFF; background-color:#FBFBFB;}

/* items-table-container */
.items-table-container {padding:0; background:#fbfbfb;box-shadow: 0 -1px #fff; }
.items-table, .popups-table, .items-table-tam {width:100%;  border-top:1px solid #dce4eb; background:#fff; color:#444;}
.items-table {box-sizing:content-box}
.long-table-box{min-width:800px; overflow-x:auto; margin:0 auto;}

.items-table th, .items-table td,.popups-table th, .popups-table td{border-right:1px solid #dce4eb; border-bottom:1px solid #dce4eb; padding:4px 10px;vertical-align:top;}
.items-table td, .popups-table td{border-right:1px solid #dce4eb;}
.popups-table td {border-bottom:1px solid #dce4eb;}

.items-table th, .items-table td{white-space:nowrap;}

.items-table div.display-none{ background-color:#000; display:none;}

.items-table-tam { border-left:none;}
.items-table-tam input {border:none; border-bottom:1px solid #AEB2B7; border-radius:0;box-shadow:none;background:none; padding-left:0;}
.items-table-tam select {border:none; border-radius:0;box-shadow:none;background:#fbfbfb;}
.items-table-tam input:focus, .items-table-tam select:focus  
{
border-bottom:1px solid #2baad1;
outline: 0 none;
box-shadow: 0 1px 0 #2baad1;
}


.items-table-tam th, .items-table-tam td{padding:10px 10px; white-space:nowrap;}
.items-table-tam th {border-right:1px solid #cccccc;white-space:nowrap;}

.items-table th, .head-popups, .items-table-tam th { cursor:pointer; line-height: 30px; outline: 0 none; padding: 0 10px 0;}


.items-table th, .items-table-tam th {
background-color: #f0f2f4;
white-space:nowrap;
color:#646b75;
}

.items-table tr.line-color { background-color:#f4f5f6;}
.items-table td.line-color{ background-color:#f4f5f6;}
.items-table tr:hover { background-color:#f0f2f4;}
.items-table tr:hover.line-color { background-color:#f0f2f4;}

.items-table td { line-height:40px; font-size:12px;}
.items-table td.red { color:#fc3e39}
.items-table td a,.items-table td a:visited{ padding-right:0px; color:#0092d9;}
.items-table td a:hover,.items-table td a:active{ text-decoration:underline;}
.items-table td .linkA a,.items-table td .linkA a:visited,.items-table td .linkA a:hover,.items-table td .linkA a:active{color:#646b75;}
.items-table td .linkA a.aNext,.items-table td .linkA a:visited.aNext,.items-table td .linkA a:hover.aNext,.items-table td .linkA a:active.aNext{color:#fff;}

.colorLock{background:#f3f3f3;}
.w-space{ word-break:break-all; word-wrap:break-word; white-space:normal;}

.items-table tr:hover .sub-table td{background-color:#e5f2fa;}
.items-table tr:hover.tr-selected {background-color:#43a0d7; color:#fff}
.items-table tr:hover.tr-yellow-selected {background-color:#fff100;}
.items-table tr:hover .sub-table td.td-yellow {background-color:#fff100;}


.tr-hover {background-color:#e5f2fa;}
.tr-selected {background-color:#43a0d7; color:#fff}
.tr-yellow-selected {background-color:#fff100;}
.tr-selected a{ color:#ffd558;}



.items-table .tr-selected .sub-table td, .items-table .tr-selected .sub-table td.title{background-color:#43a0d7;}
.items-table .tr-yellow-selected .sub-table td, .items-table .tr-yellow-selected .sub-table td.title{background-color:#fff100;}

.items-table:hover .tr-selected .sub-table td {background-color:#43a0d7;}
.items-table:hover .tr-yellow-selected .sub-table td {background-color:#fff100;}
.items-table .tr-selected td a{ color:#ffd558;}


/* =====================================  frame-popups == */
.frame-popups { position: absolute;border:1px solid #ccc; border-width:0 0 1px 1px; display:block; box-shadow:0 1px 3px #CCCCCC; border-radius:5px;  }
.head-popups{
padding-right:5px;
background-color: #eee;
color:#666;
border:1px solid #d6d9de; 
border-width:1px 1px 1px 0;
border-bottom:1px solid #c3c7cd; 
border-radius:5px 5px 0 0;
}
 
 
.head-popups-text{ float:left; width:240px;  color:#444;}
.field-close-icon, .field-print-icon, .field-repeat-icon ,.field-save-icon {position:absolute;  top:2px; left:2px;  width:15px; height:17px; background-position:0 -288px; text-indent:-9999px; cursor:pointer}
.field-print-icon { background-position:-27px -288px; }
.field-repeat-icon {background-position:-51px -288px; }
.field-save-icon {background-position:-73px -288px; }


.head-popups a.head-close-box { position:relative; right:0; top: 2px;  margin:2px 0 0 10px; width:20px; height:20px; border-radius:4px; }
.head-popups a:hover.head-close-box{ margin:1px 0 0 8px; right:-1px; }
.popups-items-table {position:relative; overflow:auto; overflow-x:hidden}

.popups-table th{text-shadow: 0 -1px 0 #666; color:#FFF; background-color:#43a0d7;}

.popups-table td { font-size:13px;}
.popups-table td a{ color:#2380b8;}
.popups-table td a:hover{ text-decoration:underline;}
.popups-table td.red{ background-color:#E54F37; color:#FFF; text-shadow:none;}
.popups-table td.red a{ color:#FFF; text-shadow:none; text-decoration:underline;}
.popups-table td.green{ background-color:#78b329; color:#FFF; text-shadow:none;}
.popups-table td.green a{ color:#FFF; text-shadow:none; text-decoration:underline;}

.popups-table{padding:0;}
.popups-table-imgbox{ display:inline; cursor:pointer;}
.col-w15 { width:15%; background-color:#eceff1;}
.col-w18{ width:18%;}
.col-w35 { width:35%;}
.popups-table td.titleFont { color:#676e75; text-align:right;}
.popups-table td {word-break:break-all; word-wrap:break-word;}

.foot-popups{ height:auto; min-height:1px; width:100%;  margin:-1px -1px 0 0; padding:12px 0; background-color:#f5f5f5; box-shadow:0 1px #FFFFFF inset; border:1px solid #ccced3; ; border-width:1px 1px 0 0;border-radius:0 0 5px 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btnBox-center {margin:0 auto; text-align:center;}

/*  tips-window  */
.tips-box {padding:20px 10px; background-color:#fbfbfb;}
.tips-icon {display:block; float:left; margin-top:2px; width:22px; height:21px; background-position:0 -350px;}
.tips-text{ float:left; display:table; min-height:40px; height:auto; vertical-align:middle; width:85%; margin:0 0 0 15px; color:#555555; line-height:26px; text-align:left;}
.tips-text span{ font-weight:bold;color:#444444;}
.tips-text a{ color:#2380b8;}
.tips-text a:hover{ text-decoration:underline;}


/* form-body */
.fieldset {clear:both;}
.form-cont td, .form-left-con td{ line-height:32px; padding:4px 0; vertical-align:top;}
.popups-table td a,.popups-table td a:visited{ color:#2380b8;} 
.popups-table td .phone-top-up a{ color:#666; text-decoration:none; }
.popups-table td .phone-top-up a:hover{ color:#666;}
.popups-table td .phone-top-up a.selected{ color:#fff; }

.form-left-con{ float:left; width:600px;}
.col-px50{ width:50px;}
.col-px80{ width:80px;}
.col-px90 { width:90px; }
.col-px100 { width:100px; }
.col-px160 { width:160px; background-color:#f6f6f6}
.col-px200 { width:200px;}
.col-px214 { width:210px;}
.col-px220 { width:220px;}
.col-px300 { width:300px;}



/* width */
.width50 {width:50px;}
.width60 {width:60px;}
.width65 {width:65px;}
.width70 {width:70px;}
.width80 {width:80px;}
.width90 {width:90px;}
.width100 {width:100px;}
.width110 {width:110px;}
.width120 {width:120px;}
.width130 {width:130px;}
.width140 {width:140px;}
.width150 {width:150px;}
.width160 {width:160px;}
.width170 {width:170px;}
.width180 {width:180px;}
.width190 {width:190px;}
.width200 {width:200px;}
.width210 {width:210px;}
.width220 {width:220px;}
.width230 {width:230px;}
.width232 {width:232px;}
.width300 { width:300px;}
.width400 { width:400px;}
.width500 {width:500px;}
.width-percent548{ width:548px;}
.width-percent568{ width:568px;}
.width-percent80{ width:580px;}
.width-percent100{ width:100%;}
.width-percent25{ width:25%}
.width-percent30{ width:30%}
.width-percent33{ width:33%}
.width-percent50{ width:50%}
.width-percent66{ width:66%}
.width-percent75{ width:75%}

.margin-top5{ margin-top:3px;}
.margin-top3{ margin-top:3px;}
.margin-top10{ margin-top:10px;}

.margin-right10{ margin-right:10px;}
.margin-right20{ margin-right:20px;}
.margin-right30{ margin-right:30px;}
.margin-left10{ margin-left:10px;}

.default-font { color:#ccc;}


/*login */
.login-activation {background-color:#b1c0cb;}

body.login-bg{ background:url('../images/bg.png') no-repeat; background-size:auto;}

.login-img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; overflow:auto; }

.login { position:absolute; left:50%;margin-left:-195px; top:50%; margin-top:-225px; width:390px; height:auto; min-height:400px; padding:40px 0 0;
border: 1px solid #c4c8cc; box-shadow:0 4px 15px #879ba8, 0 1px #fff inset , 1px 0 #eaecee inset, -1px -1px #eaecee inset ; border-radius: 10px;  
background-color:#e9ecee; 
background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#f4f5f6), to(#d6dade), color-stop(0.0,#FFFFFF));
background: -webkit-linear-gradient(#f4f5f6 0%,#d6dade 100%);background: -moz-linear-gradient(#f4f5f6 0%,#d6dade 100%);background: -o-linear-gradient(#f4f5f6 0%,#d6dade 100%);
 background: -ms-linear-gradient(#f4f5f6 0%,#d6dade 100%);background: linear-gradient(#f4f5f6 0%,#d6dade 100%);
}

.login h1 a{ display:block; margin:0 auto 30px; text-indent:-9999px; width:190px; height:97px; background-position:0 -514px; }

.login-center {display:block; margin:0 auto; width:296px;}
.login-center h4{color:#666; line-height:28px; margin-bottom:5px;}
.login-input-box { margin:0 auto 20px;}
.login-input { width:100%;height:52px; border: 1px solid #c4c8cc;   padding-left:5px; margin:0; line-height:45px\0;}
.default-prompt-font{ color:#CCC;}



/* ===================================== tip == */

.error-page{ display:block; margin:100px auto 0; width:460px; height:400px;}
.error-page-img {margin:20px auto; width:193px; height:173px; background:url('../images/tip-icon.png') no-repeat;}
.error-page  p{   text-align:center; line-height:36px; color:#666666; text-shadow: 0 1px 0 #FFFFFF}
.error-page  p a, .error-page p a:visited {color:#2380b8; text-decoration:underline;}


/* error-box */
.field-error-box, .field-succeed-box, .field-tip-box{ margin:10px 0; padding:10px; background-color:#fdf1ef ; border:2px solid #e65740; color:#e65740;   font-weight:bold; box-shadow:0 2px #fff; border-radius:3px; width:100%;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.field-error-box h3, .field-succeed-box h3, .field-tip-box h3{ display:block; margin-bottom:10px;}
.field-error-box li, .field-tip-box li{ margin-top:2px; padding:4px 0; line-height:18px; font-weight:normal;}
.field-form-error { border:2px solid #e65740; background-color:#fdf1ef; outline: 0 none;border-radius:4px; box-shadow: 0 0 1px #e65740;}
.field-titlefont-box{ margin:0; padding:0; height:34px; line-height:40px; color:#666; font-size:16px; width:100%;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.error-font, .must-icon, .error-msg-box { color:#e65740; font-weight:bold;}
.position-absolute{position:absolute}
.position-relative {position:relative}
.field-succeed-box { background-color:#ecf6ee ; border:2px solid #6ca323; color:#5e9119;}
.field-tip-box { background-color:#fff7dd ; border:2px solid #f8d878; color:#f27904; }
.field-tip-box li a{ color:#666; font-size:12px; }
.field-tip-box a span { margin-left:2px;  padding:0 4px; color:#f27904; }
.must-icon { display:inline; margin-left:5px;}
.error-msg-box{display:block;  height:20px; line-height:20px;}
.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.gray-font { color:#999;}

/* ===================================== footer == */

.footer {display:block; height:30px; margin:0 auto; width:100%; line-height:30px; text-align:center; font-size:12px; color:#9ea7b3; width:1200px;}


